.navbar {
  i {
    cursor: pointer;
  }

  .nav-link {
    width: fit-content;
  }

  .sub-navbar {
    display: none;

    &.active {
      display: block;
    }
  }

  .chevron {
    cursor: pointer;

    &:before {
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: '';
      display: inline-block;
      height: 0.45em;
      left: 0.15em;
      position: relative;
      top: 0.6em;
      transform: rotate(-45deg);
      vertical-align: top;
      width: 0.45em;
      margin-right: 10px;
    }

    &.right {
      &:before {
        left: 0;
        transform: rotate(45deg);
      }
    }

    &.bottom {
      &:before {
        transform: rotate(135deg);
      }
    }
  }

  .alert {
    color: #FF0000FF;
    margin-left: 20px;
  }
}
