<button (click)="onCreate('')">Add</button>

<ul class="navbar">
  <ng-template #navigationList let-menus>
    <li *ngFor="let menu of menus;">
      <div class="nav-link">
        <span class="chevron"
              (click)="toggle(menu.key, !menu.active)"
              [ngClass]="{
          'right' : !menu.active,
          'bottom' : menu.active,
          'hidden': !menu?.children?.length
        }"
        ></span>

        <!--Edit-->
        <ng-container *ngIf="menu?.isEdit; else noEdit">
          <input
            type="text"
            class="mr-10"
            [(ngModel)]="menu.title"
            #name="ngModel"
            required
            (blur)="stopEdit(menu)">
          <i class="fa fa-check" (mousedown)="saveEdit(menu)"></i>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
            <div *ngIf="name.errors?.['required']">
              Title is required.
            </div>
          </div>
        </ng-container>

        <ng-template #noEdit>
          <span class="nav-link-title mr-10">{{menu.title}}</span>
          <i class="fa fa-plus mr-10" (click)="onCreate(menu.key)"></i>
          <i class="fa fa-trash mr-10" (click)="onDelete(menu.key)"></i>
          <i class="fa fa-edit mr-10" (click)="startEdit(menu)"></i>
        </ng-template>

      </div>


      <ul *ngIf="menu?.children?.length;"
          class="sub-navbar"
          [ngClass]="{'active': menu.active}"
      >
        <ng-container
          *ngTemplateOutlet="navigationList; context:{ $implicit: menu.children}">
        </ng-container>
      </ul>
    </li>
  </ng-template>
  <ng-container *ngTemplateOutlet="navigationList; context:{ $implicit: navigations}"></ng-container>
</ul>
