/* You can add global styles to this file, and also import other style files */
body {
  line-height: 2;
}

ul {
  list-style-type: none;
}

.hidden {
  opacity: 0;
}

.mr-10 {
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}
